@import "../breakpoints.scss";

.top {
  text-decoration: none;
  font-weight: 450;
  font-size: var(--text);
  margin-top: 4.5em;
}

.top > div {
  font-size: var(--text-xl);
}

.top > .title {
  font-size: var(--text-xxl);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.03em;
  margin: 0;
}

.about {
  @include respond-up('tablet-sm') {
    display: grid;
    grid-template-columns: 42ch 1fr;
    gap: 1em;
  }
}

.image {
  display: none;

  @include respond-up('tablet-sm') {
    display: grid;
    align-content: start;
    place-items: start end;

    padding-top: 3em;
  }
}

.image > svg {
  fill: var(--a500);
  z-index: 1;
}

.image img {
  border: 2px solid currentColor;
  border-radius: 9999px;
}