@import "../breakpoints.scss";

/* === Layout styling ======================================================= */
.layoutRoot {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
}

.mainContent {
  padding: 0 var(--padding);
}

.mainContent > * {
  max-width: 65ch;
  margin: 0 auto;
}

.header {
  border-bottom: 2px solid currentColor;
  margin-bottom: -2px;

  padding-top: 6em;
  padding-bottom: 1.5em;

  @include respond-up("tablet-sm") {
    padding-top: 9em;
  }

  // Makes the header cover the scroll progress bar
  position: relative;
  z-index: 20;
  background-color: var(--bg);
}

.settings {
  position: sticky;
  top: 2em;
  height: 0;
  z-index: 50;
}

.bigLinks {
  padding-top: 4.5em;

  display: flex;
  flex-direction: column;
  align-items: flex-start; // Oh shut up about start having limited support
}

.bigLinks a[href] {
  font-size: var(--text-xxl);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.03em;
  padding: 0;
  margin-bottom: 0.5em;
  
  @include respond-up('tablet-sm') {
    margin-bottom: 0.375em;
  }

  background: none;
  color: var(--text);

  transform-origin: left;
  transform: scale(1);
  transition-property: color, padding, transform;
  transition-duration: var(--anim-m);
}

.bigLinks a[href]:hover {
  color: var(--a500);
  padding-left: 0.25em;
  transform: scale(1.1);
}