.text {
  position: relative;

  text-decoration: underline dotted var(--text-light) 2px;
  transition-property: color, text-decoration-color;
}

.text:hover,
.text.expanded {
  text-decoration-color: currentColor;
}

.text:not(:hover):not(.expanded) .note {
  pointer-events: none;
  opacity: 0;
}

.note {
  position: absolute;
  width: 65ch;
  z-index: 100;

  border: 2px solid var(--text);
  box-shadow: 0 0 0 2px var(--bg);
}