.radio {
  border: none;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.radio > legend {
  font-weight: 700;
}

.radio > div {
  position: relative;
  padding: 4px;

  font-size: var(--text-sm);
  border: 2px solid currentColor;
  border-radius: var(--radius);

  justify-self: end;
}

.radioButton > input[type=radio] {
  width: 0;
  height: 0;
  margin: 0;
  outline: 0;
  border: none;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.label {
  padding: 0.125em 0.5em;
  
  font-weight: 700;
  white-space: nowrap;

  border-radius: var(--radius-sm);

  cursor: pointer;
  user-select: none;
}

.label:hover {
  background-color: var(--h100);
}

input[type=radio]:checked + .label {
  background-color: var(--text);
  color: var(--bg);
}

input[type=radio]:focus-visible + .label {
  color: var(--a500);
}

input[type=radio]:focus-visible:checked + .label {
  background-color: var(--a500);
  color: var(--bg);
}