.themeToggle * {
  transform-origin: center;
  transition: transform 350ms cubic-bezier(0, 0, 0, 1.25) 150ms;
}

.themeToggle.toggled .themeToggleCircle {
  transform: scale(1.5);
}

.themeToggle.toggled .themeToggleInner {
  transform: translate3d(3px, -3px, 0) scale(1.2);
}

.themeToggle.toggled g path {
  transform: scale(0.65);
}
