@import '../../../styles/breakpoints.scss';

.doubleFrame {
  @include respond-up('tablet-sm') {
    grid-template-rows: auto auto;
  }
}

.demoFrame {
  width: 22.5em;

  @include respond-up('tablet-sm') {
    grid-column: 1;
  }
}

.demoFrame::before {
  padding-bottom: calc(200% / 6 - 0.75rem);
}

.controls {
  @include respond-up('tablet-sm') {
    grid-column: 2;
    grid-row: 1 / -1;
  }
}