input[type=checkbox] {
  display: none;
}

input[type=checkbox] + .toggle-slider {
  --size: 2.5em;

  width: var(--size);
  height: 1em;

  background-color: var(--bg);
  border-radius: 0.5em;

  position: relative;
  cursor: pointer;
}

input[type=checkbox] + .toggle-slider::before {
  content: '';

  position: absolute;
  top: calc(50% - 1px);
  left: 0.25em;
  width: calc(var(--size) - 0.5rem);
  height: 2px;

  background-color: currentColor;
  border-radius: var(--radius);
}

input[type=checkbox] + .toggle-slider::after {
  content: '';

  position: absolute;
  top: calc(50% - 0.5em);
  width: 1em;
  height: 1em;

  background-color: var(--bg);
  border: 2px solid currentColor;
  border-radius: 0.5em;
  box-shadow: 0 0 0 2px var(--bg);

  transition: transform var(--anim-m) cubic-bezier(.59,-0.22,0,1.34),
    background-color var(--anim-s) ease-out,
    box-shadow var(--anim-s) ease-out;
}

input[type=checkbox] + .toggle-slider:hover::after {
  background-color: var(--h100);
}

input[type=checkbox]:checked + .toggle-slider::after {
  transform: translateX(calc(var(--size) - 100%));
}