@import '../../styles/breakpoints.scss';

.container {
  margin: 3em 0;
  max-width: 100%;

  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  justify-content: center;
  gap: 1.5rem;
  
  @include respond-up('tablet-sm') {
    grid-template-columns: auto auto;
    align-items: center;
  }
}

.demoFrame {
  width: 15em;
  max-width: 100%;
  margin: -2px;

  border: 2px solid currentColor;
  border-radius: var(--radius);
  box-shadow: 6px 6px 0 -2px var(--bg), 6px 6px 0 0 currentColor;
  box-sizing: content-box;

  overflow: hidden;
  position: relative;
}

.demoFrame::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.demoFrame.wide {
  width: 22.5em;
}

.demoFrame.wide::before {
  padding-bottom: calc(200% / 3);
}

.demoFrame.noBorder {
  border: none;
  box-shadow: none;
  margin: 0;
}

.canvas,
.demoContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  image-rendering: pixelated;
}

.controls {
  width: 15em;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.controls > label {
  display: grid;
  grid-template-columns: minmax(5ch, auto) 1fr;
  align-items: center;
  gap: 1rem;

  font-weight: 700;
}

.controls > label code {
  font-weight: 450;
  font-style: italic;
}

.controls > label.withValueLabel {
  grid-template-columns: minmax(5ch, auto) 1fr auto;
}

.controls > label > input[type=checkbox],
.controls > label > div:last-child {
  grid-column: 2;
  grid-row: 1;
}

.controls > label > div:last-child {
  justify-self: end;
}

.controls input {
  flex-grow: 1;
  max-width: 100%;
  min-width: 0px;
}
