@import "../public/font/css/ibm-plex-reduced.css";
@import "./theme.scss";
@import "./breakpoints.scss";

@import './elements/input-range.scss';
@import './elements/button.scss';
@import './elements/checkbox.scss';
@import './elements/progress.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow;
  transition-timing-function: ease-out;
  transition-duration: var(--anim-s);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;

  font-size: var(--text-base);
  line-height: 1.5;

  background-color: var(--bg);
  color: var(--text);

  overflow-x: hidden;
}

:focus-visible {
  outline: 2px solid var(--a500);
}

/* === Heading & Text styling =============================================== */

h1 {
  font-size: var(--text-xxl);
  line-height: 1;
  letter-spacing: -0.03em;
  margin: 1em 0;
  
  @include respond-up('tablet-sm') {
    margin: 0.75em 0;
  }
}

h2 {
  font-size: var(--text-xl);
  letter-spacing: -0.015em;
  line-height: 1.2;
  margin: 1.8em 0 0.6em;
}

h2 > span {
  text-decoration: underline solid currentColor 2px;
}

h2 > a[href] {
  margin-left: 0.125em;

  background: none;
  color: transparent;
}

h2:hover > a[href] {
  color: var(--text-lighter);
}

h2 > a[href]:hover {
  background: none;
  color: var(--text-light);
}

h2 > a[href]:focus-visible {
  color: var(--a500);
}

h3 {
  font-size: var(--text-lg);
  margin: 2em 0 1em;
}

p {
  margin: 1.5em 0;
}

/* === Link styling ========================================================= */
a[href] {
  color: var(--text);
  text-decoration: underline solid currentColor 2px;
  border-radius: var(--radius);

  margin: 0 -0.1em -0.1em;
  padding: 0 0.25em 0.1em;
}

a[href]:hover {
  color: var(--a500);
  background-color: var(--a100);
}

/* === List styling ========================================================= */
ul {
  padding-left: 0;
  list-style: 'â¯   ' outside;
  margin: 1.5em 0;
}

ul > li,
ol > li {
  margin-bottom: 0.75em;
}

/* === Code styling ========================================================= */

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: var(--text-code);

  color: var(--a500);
  background-color: var(--h100);
  border-radius: var(--radius);

  margin: 0 -0.1em -0.1em;
  padding: 0 0.25em 0.1em;
}

em code {
  font-style: normal;
  color: var(--text);
}

pre {
  font-size: var(--text-code);
  margin: 3em 0;
  padding: 1em 0 1em 1.5em;

  border: 2px solid currentColor;
  border-radius: var(--radius);
  box-shadow: 6px 6px 0 -2px var(--bg), 6px 6px 0 0 currentColor;

  overflow-x: auto;
}

pre > code {
  color: var(--text-light);
  font-style: normal;
  background-color: transparent;

  margin: 0 1.5em 0 0;
  padding: 0;
}

/* === Image & Figure styling =============================================== */

img {
  max-width: 100%;
}

picture {
  display: flex;
  position: relative;
}

picture > img {
  object-fit: cover;
}

picture > a {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

picture > a[href] {
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid currentColor;
  padding: 0.25em 1em;
}

picture > a[href]:hover {
  background-color: var(--h100);
}

figure {
  margin: 1em 0;
  text-align: center;
  
  display: grid;
  justify-items: center;
  gap: 0.5em;
}

figure > img,
figure > picture {
  border: 2px solid currentColor;
  border-radius: var(--radius);
}

figcaption {
  color: var(--text-light);
  font-style: italic;
  font-size: var(--text-sm);
}

/* === Miscellaneous styling ================================================ */
hr {
  height: 2px;
  border: 0;
  color: var(--text-light);
  background-color: currentColor;
  border-radius: var(--radius);
}

div.note {
  font-size: var(--text-sm);
  background-color: var(--h100);
  color: var(--text-light);
  border-radius: var(--radius);

  margin: 1em 0;
  padding: 1em 1.5em;
}

div.note > * {
  margin: 0;
}

::selection {
  background-color: var(--text);
  color: var(--bg);
}

// debug
/*
main {
  position: relative;
}

main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.3) 0em,
    rgba(255, 0, 0, 0.3) 1.5em,
    rgba(255, 0, 0, 0) 1.5em,
    rgba(255, 0, 0, 0) 3em
  );
  pointer-events: none;
}
//*/