@import "./breakpoints.scss";

:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 450;

  /* === Color theme ======================================================== */
  --bg: hsl(0, 0%, 100%);
  --bg-o75: hsla(0, 0%, 100%, 0.75);
  --text: hsla(235, 18%, 12%, 0.9);
  --text-light: hsla(215, 10%, 8%, 0.72);
  --a100: hsla(345, 90%, 30%, 0.1);
  --a300: hsla(345, 90%, 30%, 0.25);
  --a500: hsl(345, 90%, 30%);
  --h100: hsl(205, 22%, 92%);
  --h300: hsl(205, 22%, 82%);

  /* === Type scale ========================================================= */
  --text-base: 1rem;
  --text-code: 0.875rem;
  --text-scale-up-factor: 1.5;
  --text-scale-dn-factor: 0.85;

  --text-lg: 1.5em;
  --text-xl: 2.5em;
  --text-xxl: 4em;
  
  --text-sm: calc(var(--text-base) * var(--text-scale-dn-factor));
  --text-xs: calc(var(--text-sm) * var(--text-scale-dn-factor));

  @include respond-up("tablet") {
    --text-base: 1.125rem;
    --text-code: 1rem;
  }

  @include respond-up("desktop") {
    --text-base: 1.25rem;
    --text-code: 1.125rem;
  }

  /* === Misc. styles ======================================================= */

  --radius: 4px;
  --radius-sm: 1px;
}

:root.dark {
  /* === Color theme ======================================================== */
  --bg: hsl(235, 15%, 8%);
  --bg-o75: hsla(235, 15%, 8%, 0.75);
  --text: hsla(0, 0%, 100%, 0.95);
  --text-light: hsla(0, 0%, 100%, 0.77);
  --a100: hsla(345, 82%, 58%, 0.1);
  --a300: hsla(345, 82%, 58%, 0.25);
  --a500: hsl(345, 82%, 58%);
  --h100: hsl(220, 22%, 16%);
  --h300: hsl(215, 34%, 28%);
}

:root.serif {
  font-family: "IBM Plex Serif", serif;
}